[Unit]
Description=autosummarizer bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/autosummarizer
ExecStart=node --experimental-specifier-resolution=node index.js
TimeoutStartSec=0
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target